services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    env_file:
      - .env.local
    volumes:
      - ./backend:/app
      - C:\Users\ProBoDiS\xcubes\:/data:ro
      - C:\Users\ProBoDiS\logs\robot_viewer/:/logs
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

  frontend:
    build:
      context: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules